<h1 class='center'>Welcome to Writings</h1>
<div id='introduction'>
  <p>Over a certain period of time, roughly five years, I wrote down many things.</p>
  <p>I then put them in a box and left them there for another five or so years.</p>
  <p>The box is getting heavy on my soul, the things I wrote and never read.</p>
  <p>I created this page to force myself to read them again.</p>
  <p>I would hope you enjoy them, but I can't imagine you will.</p>
</div>
