<h1 class='center'>Things that I wrote</h1>
<div id='introduction'>
  <p>Between the years of 2000 and 2006 I wrote many things</p>
  <p>I never read them, and have been carring them in a box since then.</p>
  <p>This page is an attempt to get through the things that I wrote.</p>
</div>
