<% @books.each do | book | %>
  <section class='book_overview'>
    <aside><h2><%= link_to book.title, book_path( book ) %><h2></aside>
    <article><%= sanitize( book.about ) %><%= content_tag(:p, edit_destroy_links( book )) if current_admin %></article>
  </section>
<% end %>
<%= link_to( 'Create Book', new_book_path ) if current_admin %>
