<%= content_tag :h1, @book.title %>
<%= content_tag :h2, sanitize( @book.about ) %>

<ul>
  <% @entries.each do | entry | %>
    <li><%= link_to entry.title, entry_path( entry ) %></li>
  <% end %>
</ul>

<%= admin_show_options %>
