body {
  max-width: 1024px;
  margin: auto;
}

a {
  text-decoration: none;

  &:link   { color: black; }
  &:visited{ color: black; }
  &:hover  { color: grey; }
  &:active { color: orange; }
}

#nav {
  border-bottom: 4px solid black;
  h1 { margin: 0; }

  ul {
    margin: 0;
    padding: 0;
    margin-top: 1em;
  }

  li {
    list-style: none;
    display:inline;

    a {
      padding: 2px 4px;
    }
  }
}

#content {
  min-height: 600px;
}

#footer {
  border-top: 2px solid black;
}

form {

  p {
    text-align: center;
  }

  input, textarea {
    display: block;
    margin: 1em auto 1em auto;
  }

  textarea {
    width: 800px;
    height: 400px;
  }

  input[type='checkbox']{ display: inline; }

};

.center { text-align: center; }

#introduction {
  max-width: 800px;
  margin: 1em auto 1em auto;
}

.book_overview {
  border: 1px solid black;
  padding: 1em;
  @include outer-container;
  aside { @include span-columns(3); }
  article { @include span-columns(9); }

}
