<%= content_tag :h1, @category.name %>

<ul>
  <% @entries.each do | entry | %>
    <li><%= link_to(entry.title, entry_path( entry )) + ": #{entry.date}" %></li>
  <% end %>
</ul>

<%= edit_destroy_links( @category ) %>

